*{
    margin:0;
    padding:0;
    font-family:"Black Ops One","system-ui";
}
body,html{
    height:100%;
    overflow:hidden;
}
body{
    background:rgb(0, 0,0);
    color:white;
    display:flex;
    flex-direction:column;
    font-family:"Black Ops One","system-ui";
}
.navbar{
    display:flex;
    justify-content:space-around;
    height:100px;
    align-items:center;
}
.menu{
    display:flex;
    align-items:center;
    list-style:none;
    gap:80px;
}
.logo{
    font-size:2rem;
    background:linear-gradient(45deg,#000dff,#ff00e6,#ff7700);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}
