*{
    margin:0;
    padding:0;
    font-family:"Black Ops One","system-ui";
}
body,html{
    height:100%;
    overflow:hidden;
}
body{
    background:rgb(0, 0,0);
    color:white;
    display:flex;
    flex-direction:column;
    font-family:"Black Ops One","system-ui";
}
.navbar{
    display:flex;
    justify-content:space-around;
    height:100px;
    align-items:center;
}
.menu{
    display:flex;
    align-items:center;
    list-style:none;
    gap:80px;
}
.logo{
    font-size:2rem;
    background:linear-gradient(45deg,#000dff,#ff00e6,#ff7700);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    margin-left:10px;
}

.menu li{
    font-size:1rem;

}

.btn2:hover{
    transform:scale(1.2);
}

.abc a:hover{
    transform: scale(1.2);
    color:#000dff;
    -webkit-background-clip:text;
    /* -webkit-text-fill-color: transparent; */
    
}

.btn1:hover{
    transform:scale(1.2);
}
.logo{
    margin-left:10px;

}
.mainarea h1{
    color: #000dff;
    background:linear-gradient(45deg,#000dff,#ff00e6,#ff7700);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    margin-top:250px;

}
.background{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    transform: scale(1.2);
    z-index:-1;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
    margin-bottom: 30px;
    

}
nav a{
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 20px;
    margin-right: 50px;
     background:linear-gradient(45deg,#000dff,#ff00e6,#ff7700);
    -webkit-background-clip:text;
    
}
.home a:hover{
    color: rgb(0, 224, 249);
}
.mainarea {
    text-align: center;
    margin-top: 150px;
}

/* Button wrapper */
.button-group {
    display: flex;
    justify-content: center;
    gap: 30px; /* space between buttons */
    margin-top: 30px;
}

/* Common button style */
.button-group button {
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

/* Button 1 */
.btn1 {
   
     color:white;
    padding:10px 40px;
    border-radius:18px;
    border:none;
    background:linear-gradient(45deg,#000dff,#ff00e6,#ff7700);
    display: flex;

}

.btn1:hover {
    transform: scale(1.05);
}

/* Button 2 */
.btn2 {
     color:white;
    padding:10px 40px;
    border-radius:18px;
    border:none;
    background:linear-gradient(45deg,#000dff,#ff00e6,#ff7700);
    display: flex;

}

.btn2:hover {

    transform: scale(1.05);
}
.mainarea{
    margin:auto;
    margin-bottom:500px;
}

/* Search Box */
.search-box {
    position: relative;
}

.search-box input {
    padding: 8px 35px 8px 15px;
    width:250px;
    border-radius: 20px;
    border: none;
    outline: none;
    
}

